* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.app {
    min-height: 100vh; 
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.main {
    display: grid;
    
}

.sideBar {
    background-color: lightblue;
}

.header {
    background-color: lightcoral;
}

.content {
    background-color: lightgreen;
}

