* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --font-size-title : 2.0rem;
    --font-size-large : 1.5rem;
    --font-size-normal : 1.0rem;
    --font-size-small : 0.75rem;
}

svg {
    fill: white;
    height: 24px;
    width: 24px;
}

.text-with-icon {
    display: flex;
    align-items: center;
    gap: 15px;
}

.app {
    min-height: 100vh; 
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) 4fr;
}

.sideBar {
    padding: 10px 10px;
    display: grid;
    grid-gap: 40px;
    grid-template-rows: repeat(3, minmax(3rem, min-content));

    background-color: indigo;
    color: white;

    .siteLogo {
        font-size: var(--font-size-title);

        svg {
            height: 40px;
            width: 40px;
        }
    }

    .nav {
        font-size: var(--font-size-large);
    }
    
    .settings {
        font-size: var(--font-size-large);
    }
    
    ul {
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));
        grid-gap: 10px;
    }
}

.main {
    display: grid;
    grid-template-rows: minmax(min-content, 1fr) 5fr;

    background: white;

    .header {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "searchBar banner"
            "userInfo buttons";

        > * {
            border: 2px solid blue
        }

        .searchBar {
            grid-area: searchBar;
        }

        .banner {
            grid-area: banner;
        }

        .userInfo {
            grid-area: userInfo;
        }

        .buttons {
            grid-area: buttons
        }

    }
    
    .content {
        background-color: lightgray;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "projects announcements"
            "projects trending"
            ;

        > * {
            border: 3px solid green
        }

        .projects {
            grid-area: projects;
        }

        .announcements {
            grid-area: announcements;
        }

        .trending {
            grid-area: trending;
        }
    }

}

